<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="resEndpoint" value="tcp://127.0.0.1:9098"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="resExePath" value="..\..\Res\res.exe"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ResIntegrationTest" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=ResIntegrationTest;Integrated Security=SSPI"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
</configuration>