<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="Error"/>
      </factoryAdapter>
    </logging>
  </common>

  <appSettings>
    <add key="resEndpoint" value="tcp://127.0.0.1:9098"/>
    <add key="resExePath" value="..\..\..\Res\bin\debug\res.exe"/>
  </appSettings>
  
  <connectionStrings>
    <add name="ResIntegrationTest" connectionString="Data Source=omnidev; Initial Catalog=ResIntegrationTest_Ashic;Integrated Security=SSPI"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
