<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="res" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <!--<add name="res" connectionString="Server=omnidev;Initial Catalog=ResIntegrationTest_Ashic;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
  <add name="res" connectionString="Server=.\SQLEXPRESS;Initial Catalog=Res;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <res connectionStringName="res">
    <reader bufferSize="1048576" batchSize="32" timeoutBeforeDrop="00:00:30"></reader>
    <writer bufferSize="1048576" batchSize="32" timeoutBeforeDrop="00:00:30"></writer>
    <publishEndpoint endpoint="tcp://127.0.0.1:9098" bufferSize="8"></publishEndpoint>
    <queryEndpoint endpoint="tcp://127.0.0.1:9099" bufferSize="8"></queryEndpoint>
    <queueEndpoint endpoint="tcp://127.0.0.1:9090" bufferSize="8"></queueEndpoint>
  </res>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.122.0" newVersion="3.1.122.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
