<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} [${level}] ${message} [${logger}] ${exception:format=tostring}" />
    <target name="file" xsi:type="File" fileName="${basedir}/logs/logfile.txt" keepFileOpen="false"
            encoding="iso-8859-2" layout="${date:format=HH\:MM\:ss} [${level}] ${message} [${logger}] ${exception:format=tostring}"
            replaceFileContentsOnEachWrite="false"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
