<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="res" connectionString="Server=.\SQLEXPRESS;Initial Catalog=ResIntegrationTest;Integrated Security=SSPI" providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <res connectionStringName="res" xdt:Transform="Replace">
    <reader bufferSize="1048576" batchSize="32" timeoutBeforeDrop="00:00:30"></reader>
    <writer bufferSize="1048576" batchSize="32" timeoutBeforeDrop="00:00:30"></writer>
    <publishEndpoint endpoint="tcp://127.0.0.1:9098" bufferSize="8"></publishEndpoint>
    <queryEndpoint endpoint="tcp://127.0.0.1:9099" bufferSize="8"></queryEndpoint>
    <queueEndpoint endpoint="tcp://127.0.0.1:9090" bufferSize="8"></queueEndpoint>
  </res>
</configuration>
