<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="res" connectionString="Server=omnidev;Initial Catalog=ResIntegrationTest_Ashic;Integrated Security=SSPI" providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <res endpoint="tcp://127.0.0.1:9098" xdt:Transform="Replace" connectionStringName="res">
    <reader bufferSize="1048576" batchSize="32" timeoutBeforeDrop="00:00:30"></reader>
    <writer bufferSize="1048576" batchSize="32" timeoutBeforeDrop="00:00:30"></writer>
    <queryEndpoint endpoint="tcp://127.0.0.1:9099" bufferSize="8"></queryEndpoint>
  </res>
</configuration>
